/* You can add global styles to this file, and also import other style files */
body {
    /* color: #e2b714;  */
    color: #d1d0c5;
    background-color: #323437;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    /* font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace; */
}