
<!-- INCLUDE MOBILE VERSION -->
<section class="main">
  <div class="container-sm mt-3">
    <div class="card custom-card">
      <!-- CARD HEADER CONTAINER -->
      <div #headerShow class="card-header custom-header">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-6 mt-5 mb-5 text-left custom-divider">
            <p>Last outgo</p>
            <h2 class="custom-color">77</h2>
          </div>
          <div class="col-sm-6 col-md-3 col-6 mt-5 mb-5 text-left ">
            <p>Last outgo</p>
            <h2 class="custom-color">77</h2>
          </div>
          <div class="col-sm-6 col-md-3 col-6 mt-5 mb-5 text-left">
            <p>Last income</p>
            <h2 class="custom-color">77</h2>
          </div>
          <div class="col-sm-6 col-md-3 col-6 mt-5 mb-5 text-left">
            <p>Current balance</p>
            <h2 class="custom-color">77</h2>
          </div>
        </div>
      </div>
      
      <div #headerHidden class="card-header custom-header  text-center">
        <!-- <button class="btn btn-custom-show">Show</button> -->

        <button class="btn btn-link btn-lg mx-2 custom-icon">
          <i class="fa fa-eye"></i>
        </button>
      </div>
      
      <!-- CARD BODY CONTAINER -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-12 mt-5">
            <button type="button" class="btn btn-warning custom-button w-100">Outgo</button>
          </div>
          <div class="col-sm-12 col-md-4 col-12 mt-5">
            <button type="button" class="btn btn-warning custom-button w-100">Income</button>
          </div>
          <div class="col-sm-12 col-md-4 col-12 mt-5">
            <button type="button" class="btn btn-warning custom-button w-100">Balance</button>
          </div>
        </div>
      </div>

      <div class="card-footer custom-footer mt-5 text-center">
        <button class="btn btn-link mx-2 custom-icon btn-lg">
          <i class="fa fa-arrow-circle-up"></i>
        </button>
        <button class="btn btn-link mx-2 custom-icon btn-lg">
          <i class="fa fa-arrow-circle-down "></i>
        </button>
        <button class="btn btn-link mx-2 custom-icon btn-lg">
          <i class="fa fa-dollar"></i>
        </button>
        
      </div>
    </div>
  </div>
</section>
