<div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="number" class="form-control custom-input" id="amount" [(ngModel)]="amount" name="amount"
        placeholder="10">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description (Optional)</label>
    <textarea class="form-control custom-input" id="description" [(ngModel)]="description" name="description"
        rows="3"></textarea>
</div>
<div class="mb-3">
    <button 
        class="btn custom-button w-100" 
        data-bs-dismiss="modal"
        (click)="save()"
    >
        Save
    </button>
</div>