<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Amount</label>
    <input type="text" class="form-control custom-input" id="exampleFormControlInput1" placeholder="10">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description (Optional)</label>
    <textarea class="form-control custom-input" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
    <button class="btn custom-button w-100" (click)="save()">Save</button>
</div>