.custom-button {
    color: #323437;
    background-color: #e2b714;
}

.custom-input{
    color: #d1d0c5;
    border: none;
    background-color: #2c2e31;
}
.custom-input::placeholder {
    color: #646669;
}

.custom-input:focus {
    color: #d1d0c5;
}
